.purchase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .purchase-page {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product {
    display: flex;
    margin-bottom: 20px;
  }
  
  .product-image {
    width: 200px;
    height: auto;
  }
  
  .product-details {
    padding-left: 20px;
  }
  
  .quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity h2 {
    margin-right: 10px;
  }
  
  .Cquantity button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
    padding-right: 20px;
  }
  
  .purchase-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .back-to-cart {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

  