

h1 {
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.cart-item img {
    margin-right: 20px;
}

.cart-details {
    flex-grow: 1;
}

.qcontrols button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
    background-color: #555;
}

.quantity-controls input {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    padding-left: 20px;
    padding-right: 0px;
}

.btn-del {
    background-color: red;
    color: red;
    border-radius: 5px;
    padding: 5px 10px;
}


.btn-finish-container {
    text-align: center;
    margin-top: 20px;
}


.btnF {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-finish:hover {
    background-color: #388e3c;
}
