html {
   height: 100%;
 }
 
 body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
font-weight: bold; }

 a{
   color: white;
   font-size:larger;
   margin-right: 10px;
   text-decoration: none;
 }

 .a2 a{
   color:black;
   padding-right: 20px;
   text-align: center;
   Text-decoration: underline   
  
 }
 .a2{
   justify-content: center;
   display: flex;
   text-align: center;
   padding: 50px;
   padding-right: 250px;
   margin-left: 200px;
 }

 .titles{
   text-align: center;
 }

 h1 {
   text-align: center;
  }
  
  .imageCarousel {
   height: 50%;
   width: 50%;
   margin: 20px auto;
  }
  
  .imageCarousel > img {
   width: 100%;
   opacity: 1;

   transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
  }
  
  #prev-button, #next-button {
   display: inline-block;
   padding: 8px 12px;
   width: auto;
   overflow: hidden;
   text-align: center;
   vertical-align: middle;
   outline: none;

   /* inherit font & color from ancestor */
   color: inherit;
   font: inherit;

   /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
   line-height: normal;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;

   cursor: pointer;

   /* colors */
   color: white;
   background-color: rgba(0,0,0,0.8);

   /* border */
   border-radius: 50%;

   /* CSS Transitions */
   transition: background-color 0.5s ease;
   -webkit-transition: background-color 0.5s ease;
   -moz-transition: background-color 0.5s ease;
   -o-transition: background-color 0.5s ease;

   transition: color 0.5s ease;
   -webkit-transition: color 0.5s ease;
   -moz-transition: color 0.5s ease;
   -o-transition: color 0.5s ease;
  }
  
  #prev-button:hover, #next-button:hover {
   color: black;
   background: white;
  }

  .ImbPrincipal{
    height: 400px;
   justify-content: center;
   display: flex;
   align-content: center;
  }
  .cardz {
    width: 200px;
    height: 250px;
    background-color: #f0f0f0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Adiciona transição para o efeito de zoom */
    cursor: pointer; /* Altera o cursor para uma mãozinha */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.cardz img{
max-width: 100%;
object-fit: fill;

  
}

.cardz:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.cardz-content {
    padding: 20px;
    text-align: center;
}

.cardz-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cardz-description {
    font-size: 14px;
}

  
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr); /* Cria três colunas de largura igual */
  grid-gap: 120px; /* Espaçamento entre as células */

}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Cards{
  justify-content: center;
  display: flex;
  margin: 50px;
}
.SecondNavbar{
display: flex;
justify-content: center;
}

.SecondNavbar button {
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilos para os botões quando o mouse passa por cima */
.SecondNavbar button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #000;
}

/* Estilos para os botões quando clicados */
.SecondNavbar button:active {
  transform: translateY(2px);
}
.PrimeiroTitulo{
  color: black;
  font-size: 25px;
  margin-top: 20px;
}

