/* navbar.css */
.navbar-dark .navbar-nav .nav-link {
    color: #e8eaed;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
.navbar-dark .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-dark .nav-link svg {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}